# node files
node_modules
package-lock.json

# local files
local/

# example builds
examples/starter/build
examples/starter/*.zip
examples/typescript/build
examples/electron/build
examples/electron/*win32*
docs/superpowers/
.claude/
.vscode/